#Signature
{
	 border:1px solid black;
	 width:100px;
	 margin-left:65px;
}

textarea.post
{
	border:1px solid black;
	margin-left:32px;
	margin-right:32px;
	height:400px;
	margin-bottom:32px;
	margin-top:32px;
}

fieldset.post
{
	max-width: 400px;
}

fieldset.post .content
{
	max-width: 400px;
	word-wrap: break-word;
}

#Post{

	margin-top:20px;
	height:100%;
	width:400px;

}

.Signature
{
	text-decoration: underline;
	margin-bottom:10px;
}

